@media print {
  .noprint,
  .noprint * {
    display: none;
  }
  .print,
  .print * {
    display: block;
    width: 238mm;
    height: 188mm;
  }
  .hidden.print {
    display: block !important;
  }
}
@page {
  size: auto;
}
