@media print {
  .noprint,
  .noprint * {
    display: none;
  }
  .print,
  .print * {
    display: block;
    width: 238mm;
    height: 188mm;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .hidden.print {
    display: block !important;
  }
}
@page {
  size: auto;
}
